*.o
*.so
*.dsc
*.tar.gz
*_*.changes
*.deb
README.html
INSTALL.html
README
INSTALL
osmabbrv_country_osm_grid.data
debian/postgresql-*-osmabbrv*
debian/debhelper-build-stamp
*--*.sql
*.control
debian/files
country_languages.data
debian/.debhelper
country_osm_grid.sql
.vagrant/*